# Python virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code config
.vscode/

# Jupyter Notebook stuff (if used later)
.ipynb_checkpoints/

# OS/system files
.DS_Store

# Logs or debug files
*.log
